@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span>
            <img src="~/images/shopping-cart.png"/>
            <span style="color:white">
                @Model.CarrinhoCompra.CarrinhoCompraItems.Count
            </span>
        </span>
    </a>
}