@model MVC2022.Models.Lanche

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lanche</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LancheNome" class="control-label"></label>
                <input asp-for="LancheNome" class="form-control" />
                <span asp-validation-for="LancheNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancheDescricaoCurta" class="control-label"></label>
                <input asp-for="LancheDescricaoCurta" class="form-control" />
                <span asp-validation-for="LancheDescricaoCurta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancheDescricaoDetalhada" class="control-label"></label>
                <input asp-for="LancheDescricaoDetalhada" class="form-control" />
                <span asp-validation-for="LancheDescricaoDetalhada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanchePreco" class="control-label"></label>
                <input asp-for="LanchePreco" class="form-control" />
                <span asp-validation-for="LanchePreco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancheImagemUrl" class="control-label"></label>
                <input asp-for="LancheImagemUrl" class="form-control" />
                <span asp-validation-for="LancheImagemUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancheImagemThumbnailUrl" class="control-label"></label>
                <input asp-for="LancheImagemThumbnailUrl" class="form-control" />
                <span asp-validation-for="LancheImagemThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLanchePreferido" /> @Html.DisplayNameFor(model => model.IsLanchePreferido)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmEstoque" /> @Html.DisplayNameFor(model => model.EmEstoque)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

