<img  src="~/images/Admin.jpg" />
<div class="container">
    <div class="jumbotron d-flex flex-column">
        <h2 class="text-center">Areá do administrador</h2>
    <a class="btn btn-primary mx-auto mt-1"  asp-area="" asp-controller="Home" asp-action="Index">Voltar para o Menu</a>
    </div>
</div>
