<div class="centered container ">
    <h3>Fale conosco</h3>
    <h4>Tire suas duvidas, ou deixe suas sugestões</h4>
    <div class="jumbotron">
        <span>
            <img src="~/images/smartphone.svg" />
        </span>
        <h5>71 988552607</h5>
        <br />
        <span>
            <img src="~/images/mail.svg" />
        </span>
        <h5><email endereco="victoremannel12@hotmail.com" conteudo="Enviar um Email"></email></h5>
        <br />
        <span>
            <img src="~/images/map-pin.svg" />
        </span>
        <h5>Cidade Qualquer,Rua Qualquer.</h5>
        <br />
    </div>
</div>
